body { 
    background-color:$black-color !important;
    text-align: center !important;
    margin: 0 !important;
    font-family: $font-family !important;
    @include flex-center;
   
    
}

h1, h2, h3 {
    color: $white-color;
}

label {
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin: 10px;
}

a {
    text-decoration: none !important;
    color: $white-color !important;
}

.sucursales {
    align-content: center;
}

.navbar li {

    list-style: none;
    display: inline-block;
    padding: 0 20px;
    
}  

.btn {
    font-size: 16px;
    border-radius: 25px;
    background-color:rgb(248, 226, 49);
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
   

}

.btn:hover{
    background-color:  rgb(200, 180, 40);
}

.nosotros1{
    display: flex;
}

header {
    display: flex !important; /*para que el menu se muestre uno al lado de otro)*/
    justify-content : space-between!important;
    height: 70px !important;
    background:linear-gradient(
        90deg,
        rgba(0,0,1)0%,
        rgba(248,226,49,1)80%
    );
    padding: 10px;
    align-items: center !important;
    height:85px !important;
    padding:5px  !important;
   

} 
