
$primary-color: rgba(248, 226, 49, 1);
$secondary-color: #222;
$white-color: #fff;
$black-color: #000;
$font-family: Arial, Helvetica, sans-serif;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

 

  



