/* responsive */
 @media (min-width:100px){
    .imagen-menu, .nuestroCafe, .imagenes {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px; 
        padding: 10px;
    }

    form {
        padding: 20px;
        width: 100%;
    }
    nuestroCafe {
        max-width: 90%;
        margin: 0 auto;
    }

    .nuestroCafe p {
        text-align: justify;
        padding: 10px;
        line-height: 1.6;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
   
}


 @media (min-width:540px){
    .imagen-menu{
       display: grid;
       grid-template-columns: repeat(1, 1fr) ;
       gap: 10px;
       padding: 10px;
    }
    form {
        width: 80%;
        margin: 30px auto;
      }
      .nuestroCafe{
        grid-template-columns: repeat(1, 
        1fr) ;  
      } 
      .imagenes{
        grid-template-columns: repeat(2, 
        1fr) ;
      }
        
 }
@media (min-width: 900px) { 
    .imagen-menu {
        grid-template-columns: repeat(3, 1fr);
    }
    form {
        width: 700px;
        margin: 50px auto; 
      }
     .imagenes{
        grid-template-columns: repeat(3, 
        1fr) ;
          }   
     h1, h2, h3 {
            font-size: 18px;  
            } 
     .contenido {
          display: grid;
          grid-template-columns: 1fr 1fr; /* Dos columnas: una para la imagen y otra para el texto */
         align-items: center;
         gap: 40px;
        padding: 30px; }
            

}
 @media (min-width: 1024px) {
    .imagen-menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr) ; 
    }
}





