form { 
    padding: 50px 55px;
    border-radius: 20px;
    text-align: center;
    background-color: #222; /* Fondo oscuro para el formulario */
    width: 900px; /* Tamaño fijo del formulario */
    box-shadow: 0 0 20px rgba(248, 226, 49, 1); /* Sombra destacada */
   /* margin-inline: 390px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-top: 20px; 
   
}



.form1 {
    padding: 50px 55px;
    border-radius: 20px;
    background-color: #222; /* Fondo oscuro para el formulario */
    width: 900px; /* Tamaño fijo del formulario */
    box-shadow: 0 0 20px rgba(248, 226, 49, 1); /* Sombra destacada */
   /* margin-inline: 390px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-top: 20px;    
}

label{       
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px; 
    margin: 10px;
   
}
