.grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 20px;
    text-align: center;
   
 }

 .imagenes {
    display: grid;
  
    gap: 15px;
    
 }

 .grid-item h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 15px;
    border:rgb(200, 180, 40) ;
    border-style: solid;
    border-width: 3px;
    padding: 10px;
 }


 .grid-galeria img {
    width: 100%; 
    max-width: 300px; 
    height: 400px; 
    object-fit: cover; 
    border-radius: 10px;
    margin: 0 auto; 
}

.grid-galeria {
    display: grid;
    grid-template-areas:
        "header header header"
        "cafes cafes cafes"
        "infusiones infusiones infusiones"
        "combos combos combos"
        "panaderia panaderia panaderia"
        "footer footer footer";
    grid-template-rows: auto auto auto auto auto;
    gap: 20px;
    justify-items: center;
    
}
.grid-item:nth-child(1) { /* tienen numeros por que seleccionan los hijos del contenedor*/
    grid-area: cafes;
}

.grid-item:nth-child(2) {
    grid-area: infusiones;
}

.grid-item:nth-child(3) {
    grid-area: combos;
}

.grid-item:nth-child(4){
    grid-area:panaderia ;
}

.nosotros1{
    display: flex;
}


.imagen-menu{
    display: grid ;
    gap: 5px !important;
    justify-content: center;
    justify-items: center;
    margin-bottom: 200px;
    place-items: center;
    margin: 50px auto; 
    max-width: 70%;
   
}
.nuestroCafe{
   
        display: flex;
        flex-direction: column; 
        align-items: center;
        gap: 15px;
        padding: 10px;
    
}

.img-nosotros {
    max-width: 100%;
    height: auto;
}